.ContentWrapper {
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
}

.Aside {
	display: none;
	position: sticky;
	top: 6em;
	flex: 1;
	min-width: 320px;
	max-width: 400px;
	height: fit-content;
}

.Drawer {
	padding: 0.5em;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	position: relative;
	container-type: inline-size;
}

.Handle {
	position: absolute;
    top: 0.25em;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 10px;
    border-radius: 6px;
    background-color: #a2a2a2;
	z-index: 99;
}

.OpenDrawerButton {
	position: fixed!important;
	right: 1em;
	bottom: 5em;
}


@media (min-width: 900px) {

	.OpenDrawerButton {
		display: none!important;
	}

	.Aside {
		display: flex;
		flex-direction: column;

	}
}
