.RegisterPanel {
	width: 100%;
	max-width: 420px;

}

.SuccessMessageText {
	margin: 2.5em 0!important;
    font-weight: 300!important;
}


@media (min-width: 769px) {
	.RegisterPanel {
		max-width: 620px;
	}
}