.DrawerHeader {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5em;
}

.HomeLink {
	height: 48px;
	margin-right: auto;
	margin-left: 0.5em;
}

.HomeLink img {
	height: 100%;
	border-radius: 0.75em;
	aspect-ratio: 1 / 1;
}

.NavHomeLink {
	opacity: 0;
	transition: opacity 0.2s;
}

.NavHomeLink.Visible {
	opacity: 1;
	transition: opacity 0.4s;
}