.Wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	max-width: 900px;
	gap: 0.5em;
}

.List li {
	gap: 0.5em;
}

.Alert {
	margin: 2em 0;
}

.Wrapper section {
	padding: 0 0.5em;
}

.SectionButtonWrapper {
	display: inline-block;
	height: fit-content;
}

.SectionButton {
	width: fit-content;
}

.RequestNote {
	margin-top: 1em;
}

.HoursPackageStatus {
	flex-grow: 0;
	text-align: right;
}

.NoHoursPackagesMessage img {
	max-width: 100px;
}

.ReviewSection {
	display: flex;
	flex-direction: column;
	margin: 2em 0;
}

.ReviewPresentationWrapper {
	margin-left: 1em;
}

@media (min-width: 1024px) {
	.ReviewSection {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.ReviewSection>h6 {
		width: 100%;
	}

	.ReviewSection>div {
		width: 50%;
	}
}