.Modal {
	min-width: 320px;
	width: 100%;
	max-width: 790px;
	height: 600px;
	container-type: inline-size;
}

.ModalContent {
	padding: 1em 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	position: relative;
}

.Header {
	padding: 0.25em 0;
}

.Overview {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin: auto;
	max-width: 400px;
}

.Overview .CoverImage {
	max-width: 400px;
	width: 100%;
	aspect-ratio: 16 / 9;
}

.VehicleParts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1em 0em;
}

.VehiclePart {
	font-size: 0.85em;
}

.VehiclePart.DarkMode img {
	filter: invert(1);
}

.CategoriesWidget {
	width: 294px;
	margin: auto;
}

.PropsContainer {
	padding: 0.5em 0;
	max-width: 400px;
	margin: auto;
	width: 100%;
}

.PropsContainer :global(.MuiTextField-root) {
	width: 100%;
}

.PropsContainer > ul {
	padding: 0;
}

.ButtonsBar {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 1em;
	gap: 1em;
}

.EngineSection {
	flex-direction: column;
}

.EngineSection .ValuePreview {
	display: flex;
	align-items: center;
	text-align: left;
	width: 100%;
}

.EngineSection > .InputsWrapper {
	padding: 0;
	transition: max-height 0.4s, padding 0.4s;
	max-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 100%;
}

.EngineSection .InputsWrapper.Expanded {
	max-height: 216px;
	padding: 1em 0;
}

.ImageEditContainer {
	position: relative;
}

.ImageEditContainer .Cover {
	position: absolute;
	inset: 0;
	background: #33333394;
}

.ImageEditContainer .ButtonsBar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	padding: 0;
}

.ButtonsBar:has(.ErrMessage) {
	flex-wrap: wrap;
}

.ErrMessageWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0.5em 0;
}

.ErrMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}

@container (min-width: 769px) {
	.ErrMessageWrapper {
		width: fit-content;
	}
}

@container (min-width: 790px) {
	.Overview {
		flex-direction: row;
		align-items: flex-start;
		max-width: 650px;
	}

	.Overview .CoverImage {
		max-width: 280px;
	}

	.PropsContainer {
		max-width: unset;
	}

	.CategoriesWidget {
		width: 424px;
		margin: unset;
	}

	.PropsContainer {
		margin: unset;
	}

	.PropsContainer ul {
		gap: 1.5em;
		display: flex;
	}

	.CategoriesWidget,
	.PropsContainer {
		padding: 0 2em;
	}

	.PropsContainer ul {
		width: 500px;
	}
}
