.ViewContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	container-type: inline-size;
}

.Breadcrumbs {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin-bottom: 0.5em;
}

.Breadcrumbs>a {
	text-decoration: none;
}

.Breadcrumbs>a:hover {
	text-decoration: underline;
}