.VehiclePanel {
	margin: 1em 0;
	flex-direction: column;
	gap: 2em;
	align-items: flex-start;
}

.VehiclePanel button {
	align-self: center;
}

.VehiclePanel:first-of-type {
	margin-top: 3em;
}

.Content {
	display: flex;
	flex: 1;
}

.Content .Text {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}


@media (min-width: 600px) {
	.VehiclePanel {
		flex-direction: row;
	}
}